altgraph==0.17.4
auto-py-to-exe==2.42.0
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==40.0.2
cterasdk==2.18.33
Eel==0.16.0
future==0.18.3
gevent==23.9.1
gevent-websocket==0.10.1
greenlet==3.0.3
idna==3.4
packaging==23.2
pefile==2023.2.7
pycparser==2.21
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2024.0
pyparsing==3.1.1
PyQt6==6.5.0
PyQt6-Qt6==6.5.0
PyQt6-sip==13.5.1
PySide6==6.6.2
PySide6_Addons==6.6.2
PySide6_Essentials==6.6.2
pywin32-ctypes==0.2.2
requests==2.29.0
requests-toolbelt==0.10.1
shiboken2==5.15.2.1
shiboken6==6.6.2
urllib3==1.26.15
whichcraft==0.6.1
zope.event==5.0
zope.interface==6.1
