aiohttp==3.9.3
aiosignal==1.3.1
altgraph==0.17.4
aniso8601==9.0.1
async-timeout==4.0.3
attrs==23.2.0
auto-py-to-exe==2.42.0
bidict==0.22.1
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2022.12.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
colored==1.4.4
contourpy==1.0.7
cryptography==40.0.2
cterasdk==2.19.3
cycler==0.11.0
Eel==0.16.0
escape==1.1
feather==0.1.2
Flask==1.1.2
Flask-Cors==3.0.10
Flask-RESTful==0.3.9
Flask-SocketIO==4.3.2
fonttools==4.38.0
frozenlist==1.4.1
future==0.18.3
gevent==23.9.1
gevent-websocket==0.10.1
Gooey==1.0.8.1
greenlet==3.0.3
idna==3.4
importlib-metadata==6.0.0
itsdangerous==2.0.1
Jinja2==3.0.3
kiwisolver==1.4.4
MarkupSafe==2.1.2
matplotlib==3.6.3
multidict==6.0.5
numpy==1.20.2
packaging==23.2
pandas==1.4.4
pefile==2023.2.7
Pillow==8.2.0
psutil==5.9.4
pyarrow==11.0.0
pycparser==2.21
pygtrie==2.5.0
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2024.0
pyparsing==3.1.1
PyQt6==6.5.0
PyQt6-Qt6==6.5.0
PyQt6-sip==13.5.1
PySide2==5.15.2.1
PySide6==6.6.2
PySide6_Addons==6.6.2
PySide6_Essentials==6.6.2
python-dateutil==2.8.2
python-engineio==3.14.2
python-slugify==5.0.2
python-socketio==4.6.1
pytz==2022.7.1
pywin32-ctypes==0.2.2
PyYAML==6.0.1
requests==2.29.0
requests-toolbelt==0.10.1
shiboken2==5.15.2.1
shiboken6==6.6.2
six==1.16.0
text-unidecode==1.3
urllib3==1.26.15
Werkzeug==2.0.1
whichcraft==0.6.1
wxPython==4.2.0
yarl==1.9.4
zipp==3.12.1
zope.event==5.0
zope.interface==6.1
