certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==40.0.2
cterasdk==2.18.33
idna==3.4
pycparser==2.21
PyQt6==6.5.0
PyQt6-Qt6==6.5.0
PyQt6-sip==13.5.1
requests==2.29.0
requests-toolbelt==0.10.1
urllib3==1.26.15
